<a href="https://colab.research.google.com/github/PRASHANTPK211/Pandas/blob/main/Data_Analysis_Case_Study_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing** **Libraries**

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
print('Library loaded successfully')

Library loaded successfully

**#Loading the Dataset**

In [ ]:
#Loading dataset into DataFrame...for Analytical purpose
df=pd.read_csv('C:/Users/prash/OneDrive/Desktop/Hotel_booking.csv')

print('Dataset loaded successfully')

In [16]:
import pandas as pd
df=pd.read_csv('Hotel_booking.csv')
#print(df.head(10))
print(df.tail(10))

             hotel  is_canceled  lead_time  arrival_date_year  \
119380  City Hotel            0         44               2017
119381  City Hotel            0        188               2017
119382  City Hotel            0        135               2017
119383  City Hotel            0        164               2017
119384  City Hotel            0         21               2017
119385  City Hotel            0         23               2017
119386  City Hotel            0        102               2017
119387  City Hotel            0         34               2017
119388  City Hotel            0        109               2017
119389  City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
119380             August                        35
119381             August                        35
119382             August                        35
119383             August                        35
119384             August                        35
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
119380                         31                        1
119381                         31                        2
119382                         30                        2
119383                         31                        2
119384                         30                        2
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
119380                     3       2  ...      Transient  140.75
119381                     3       2  ...      Transient   99.00
119382                     4       3  ...      Transient  209.00
119383                     4       2  ...      Transient   87.60
119384                     5       2  ...      Transient   96.14
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
119380                           0                         1
119381                           0                         0
119382                           0                         0
119383                           0                         0
119384                           0                         2
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
119380          Check-Out              04-09-2017         Wanda Jones
119381          Check-Out              05-09-2017        Betty Taylor
119382          Check-Out              05-09-2017        Cesar Moreno
119383          Check-Out              06-09-2017       Jose Andersen
119384          Check-Out              06-09-2017       James Mccarty
119385          Check-Out              06-09-2017     Claudia Johnson
119386          Check-Out              07-09-2017      Wesley Aguilar
119387          Check-Out              07-09-2017        Mary Morales
119388          Check-Out              07-09-2017  Caroline Conley MD
119389          Check-Out              07-09-2017      Ariana Michael

                               email  phone-number       credit_card
119380            Wanda_J@yandex.com  379-374-7947  ************8581
119381            BTaylor@yandex.com  114-632-1395  ************1795
119382         Cesar_M50@comcast.net  666-379-7260  ************7835
119383  Andersen_Jose@protonmail.com  656-714-5930  ************7923
119384               James_M@att.com  689-204-7523  ************7994
119385           Claudia.J@yahoo.com  403-092-5582  ************8647
119386          WAguilar@xfinity.com  238-763-0612  ************4333
119387      Mary_Morales@hotmail.com  395-518-4100  ************1821
119388       MD_Caroline@comcast.net  531-528-1017  ************7860
119389          Ariana_M@xfinity.com  422-804-6403  ************4482

[10 rows x 36 columns]

In [17]:
#Total no. of rows and columns
df.shape

(119390, 36)

In [18]:
#to get column details
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

In [19]:
#to find column details with nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [22]:
#Changing type of 'resrvation_status_date' column to datatime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  datetime64[ns]
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(16), object(15)
memory usage: 32.8+ MB

In [25]:
df.describe(include='object')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,name,email,phone-number,credit_card
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,4,3,81503,115889,119390,9000
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,Michael Johnson,Michael.C@gmail.com,669-792-1661,************4923
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,89613,75166,48,6,1,28

In [ ]:
df.pd.DataFrame